/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 150px;
}

.nav-items {
    align-self: center;
    margin-right: 20px;
}

.nav-items > ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}

.restaurant-card {
    padding: 10px;
    margin: 6px;
    width: 200px;
    height: 400px;
    overflow: hidden;
}
.restaurant-card:hover {
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 5px 5px 15px grey;
}

.search {
    padding: 10px;
}
.restaurant-logo {
    width: 100%;
    object-fit: cover;
}
.restaurant-container {
    display: flex;
    /* gap: 20px; */
    flex-wrap: wrap;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}
